spring:
  datasource:
    url: jdbc:mysql://www.jianbing.pro:3306/jianbing?useUnicode=true&characterEncoding=utf8
    driver-class-name: com.mysql.jdbc.Driver
    username: username
    password: username

  thymeleaf:
    mode: LEGACYHTML5
    cache: false
  mvc:
    static-path-pattern: /static/**
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    database: mysql

server:
  port: 9527
mybatis:
  mapper-locations: classpath:mapping/*Mapper.xml
  type-aliases-package: pro.jianbing.aboutme.entity

