<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pro.jianbing.aboutme.mapper.CountdownMapper">

    <resultMap id="BaseResultMap" type="pro.jianbing.aboutme.entity.Countdown">
        <result column="id" jdbcType="VARCHAR" property="id" />
        <result column="title" jdbcType="TIMESTAMP" property="title" />
        <result column="end_time" jdbcType="VARCHAR" property="endTime" />
        <result column="days" jdbcType="VARCHAR" property="days" />
    </resultMap>
    
    <select id="getTwoCountdown" resultType="pro.jianbing.aboutme.entity.Countdown">
        select
          id,
          title,
          end_time endTime,
          days
        from countdown
        where mark = '0' or mark = '2'
        order by end_time
    </select>

</mapper>