<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>倒计时管理</title>
    <div th:include="top :: top"></div>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:include="head :: head"></div>

    <div class="layui-body">
        <table class="layui-hide" id="test" lay-filter="test"></table>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
                <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
                <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
            </div>
        </script>
        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>
    </div>
    <div th:include="footer :: copyright"></div>

</div>
<script th:src="@{../static/layui/layui.js}"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>

<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?d214947968792b839fd669a4decaaffc";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();

    layui.use('table', function () {
        var table = layui.table;

        table.render({
            elem: '#test'
            , url: '/countdown/table'
            , toolbar: '#toolbarDemo'
            , title: '用户数据表'
            , totalRow: true
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    , {
                    field: 'id',
                    title: 'ID',
                    width: 80,
                    fixed: 'left',
                    unresize: true,
                    sort: true,
                    totalRowText: '合计'
                }
                    , {field: 'title', title: '标题', /*width: 120,*/ edit: 'text'}
                    , {field: 'endTime', title: '日期',/* width: 80, */edit: 'text', sort: true}
                    , {field: 'days', title: '天数', /*width: 80, */edit: 'text', sort: true, totalRow: true}
                    , {fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
                ]
            ]
            , page: true
        });

        //监听单元格编辑
        table.on('edit(test)', function(obj){
            var value = obj.value //得到修改后的值
                ,data = obj.data //得到所在行所有键值
                ,field = obj.field; //得到字段
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '/countdown/update',
                data: {
                    "id":data.id,
                    "field":field,
                    "value":value
                },
                cache: false,
                async: true,
                success: function (data) {
                    if (data.code==0){
                        layer.msg("更改成功！");
                    }
                }
            });
        });

        //工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：'+ data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选': '未全选')
                    break;
            };
        });
    });
</script>
</body>
</html>
