<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>建兵本纪 | 后台主页</title>
    <div th:include="top :: top"></div>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <div th:include="head :: head"></div>

    <div class="layui-body" style="background-color: #f0f0f0;padding-top: 15px">
        <div class="layadmin-tabsbody-item layui-show">
            <div class="layui-fluid">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md8">
                        <div class="layui-row layui-col-space15">
                            <div class="layui-col-md6">
                                <div class="layui-card">
                                    <div class="layui-card-header">总点赞数</div>
                                    <div class="layui-card-body">
                                        <p style="font-size: 4em;margin: 0.5em 0em;text-align: center" id="sumLikes">0</p>
                                        <p>
                                            今日点赞数
                                            <span th:text="${sumLikesToday}" id="sumLikesToday">0</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md6">
                                <div class="layui-card">
                                    <div class="layui-card-header">总搜索数</div>
                                    <div class="layui-card-body">
                                        <p style="font-size: 4em;margin: 0.5em 0px;text-align: center" id="sumSearch">0</p>
                                        <p>
                                            今日搜索数
                                            <span th:text="${sumSearchToday}" id="sumSearchToday">0</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="layui-col-md4">
                        <div class="layui-card">
                            <div class="layui-card-header">
                        <span th:inline="text"
                              style="font-size: larger">欢迎你 [[${#httpServletRequest.remoteUser}]]!</span>
                            </div>
                            <div class="layui-card-body">
                                <p>你上次登陆时间: <span th:text="${user.lastTime}">Sebastian</span></p>
                                <p>你上次登陆地址: <span th:text="${address}">Sebastian</span></p>
                                <span>如果不是你本人的操作，请尽快</span>
                                <a class="layui-table-link" style="color: limegreen;text-decoration: underline"
                                   th:href="@{/index}">更改密码</a>
                            </div>
                        </div>

                        <div class="layui-card">
                            <div class="layui-card-header">产品动态</div>
                            <div class="layui-card-body">
                                <div class="layui-carousel layadmin-carousel layadmin-news" data-autoplay="true"
                                     data-anim="fade" lay-filter="news" lay-anim="fade" lay-indicator="inside"
                                     lay-arrow="none" style="width: 100%; height: 280px;">
                                    <div carousel-item="">
                                        <div class=""><a href="http://fly.layui.com/docs/2/" target="_blank"
                                                         class="layui-bg-red">layuiAdmin 快速上手文档</a></div>
                                        <div class=""><a href="http://fly.layui.com/vipclub/list/layuiadmin/"
                                                         target="_blank" class="layui-bg-green">layuiAdmin 会员讨论专区</a>
                                        </div>
                                        <div class="layui-this"><a href="http://www.layui.com/admin/#get"
                                                                   target="_blank" class="layui-bg-blue">获得 layui
                                            官方后台模板系统</a></div>
                                    </div>
                                    <div class="layui-carousel-ind">
                                        <ul>
                                            <li class=""></li>
                                            <li class=""></li>
                                            <li class="layui-this"></li>
                                        </ul>
                                    </div>
                                    <button class="layui-icon layui-carousel-arrow" lay-type="sub"></button>
                                    <button class="layui-icon layui-carousel-arrow" lay-type="add"></button>
                                </div>
                            </div>
                        </div>

                        <div class="layui-card">
                            <div class="layui-card-header">
                                作者心语
                                <i class="layui-icon layui-icon-tips" lay-tips="要支持的噢" lay-offset="5"></i>
                            </div>
                            <div class="layui-card-body layui-text layadmin-text">
                                <p>这个后台管理系统是参照了layuiAdmin做的，仅作为个人提升技能使用。</p>
                                <p>感谢layui！感谢贤心！</p>
                                <p>—— northpoler</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <script>
                //加载 controller 目录下的对应模块
                /*

                  小贴士：
                    这里 console 模块对应 的 console.js 并不会重复加载，
                    然而该页面的视图则是重新插入到容器，那如何保证能重新来控制视图？有两种方式：
                      1): 借助 layui.factory 方法获取 console 模块的工厂（回调函数）给 layui.use
                      2): 直接在 layui.use 方法的回调中书写业务代码，即:
                          layui.use('console', function(){
                            //同 console.js 中的 layui.define 回调中的代码
                          });

                  这里我们采用的是方式1。其它很多视图中采用的其实都是方式2，因为更简单些，也减少了一个请求数。

                */
                layui.use('console', layui.factory('console'));
            </script>
        </div>
    </div>


    <div th:include="footer :: copyright"></div>
</div>
<script th:src="@{../static/layui/layui.js}"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });

    var sumLikes = [[${sumLikes}]];
    var sumSearch = [[${sumSearch}]];
    var sumLikesToday = [[${sumLikesToday}]];
    var sumSearchToday = [[${sumSearchToday}]];


    NumAutoPlusAnimation("sumLikes", {
        time: 6000,
        num: sumLikes,
        regulator: 32,
        start: 0
    });
    NumAutoPlusAnimation("sumSearch", {
        time: 3000,
        num: sumSearch,
        regulator: 32,
        start: 0
    });


    //数字自增到某一值动画参数（目标元素,自定义配置）
    function NumAutoPlusAnimation(targetEle, options) {

        /*可以自己改造下传入的参数，按照自己的需求和喜好封装该函数*/
        //不传配置就把它绑定在相应html元素的data-xxxx属性上吧
        options = options || {};

        var $this = document.getElementById(targetEle),
            time = options.time || $this.data('time'), //总时间--毫秒为单位
            finalNum = options.num || $this.data('value'), //要显示的真实数值
            regulator = options.regulator || 100, //调速器，改变regulator的数值可以调节数字改变的速度

            step = finalNum / (time / regulator),/*每30ms增加的数值--*/
            count = options.start, //计数器
            initial = 0;

        var timer = setInterval(function() {

            count = count + step;

            if(count >= finalNum) {
                clearInterval(timer);
                count = finalNum;
            }
            //t未发生改变的话就直接返回
            //避免调用text函数，提高DOM性能
            var t = Math.floor(count);
            if(t == initial) return;

            initial = t;

            $this.innerHTML = initial;
        }, 30);
    }

    getNewestData("/like/count/all",sumLikes,"sumLikes");
    getNewestData("/like/count/today",sumLikesToday,"sumLikesToday");
    getNewestData("/keyword/count/all",sumSearch,"sumSearch");
    getNewestData("/keyword/count/today",sumSearchToday,"sumSearchToday");



    // 定时获取最新的点赞数和搜索数
    function getNewestData(url,source,target){
        setInterval(function () {
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: url,
                data: {},
                cache: false,
                async: true,
                success: function (data) {
                    if (data.code==0&&data.data!=source){
                        NumAutoPlusAnimation(target, {
                            time: 1000,
                            num: data.data,
                            regulator: 32,
                            start: source
                        });
                    }
                }
            });
        },300)
    }

</script>

</script>

<script>

</script>
</body>
</html>
