<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>建兵本纪 | 后台主页</title>
    <div th:include="top :: top"></div>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <div th:include="head :: head"></div>

    <div class="layui-body">
        <span th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</span>
        <p>你上次登陆时间: <span th:text="${user.lastTime}">Sebastian</span></p>
        <p>你上次登陆地址: <span th:text="${address}">Sebastian</span></p>
    </div>




    <div th:include="footer :: copyright"></div>
</div>
<script th:src="@{../static/layui/layui.js}"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>

<script>

</script>
</body>
</html>
